*       text    eol=lf
*.exe   binary
*.apk   binary
*.aab   binary
*.jar   binary
*.so    binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
